<%= form_for @survey do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
<%= f.fields_for :questions do |builder| %>
 <p>
   <%= builder.label :content, "Questions" %><br />
   <%= builder.text_area :content, :rows => 3 %>
</P>
<% end %>
  <p><%= f.submit %></p>
<% end %>
